main {
    display: flex;
    flex-direction: column;
}

main>textarea{
    height: 50px;
    resize: none;
    text-align: center;
    transition: 200ms ease all;
}

.tabs {
    color: #fecc7d;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    list-style-type: none;
    padding: 10px;
}

.content-settings {
    color: #fecc7d;
    display: flex;
    align-items: center;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px black solid;

}

.content-settings__nav {
    display: flex;
}

.content-settings__nav-view {
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-settings__nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.content-settings__create {
    background-color: #fecc7d;
    color: #595959;
    height: 50px;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    outline: none;
    border: none;
    transition: 200ms ease all;
}

.content-settings__create:hover {
    background-color: #535bf2;
}

.popup-container{
    text-align: center;
    color: #fecc7d;
}

.popup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 500px;
    padding: 20px;
}

.popup-form>input, select, button {
    padding: 20px;
    color: #fecc7d;
}